{% extends "home-base.html"%}
{% block title %}Home Page{% endblock %}

{% block head%}
  {{ super() }}
{% endblock%}

{% block page_content%}
  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-address-card-o" aria-hidden="true"></i> About Me</h1>
    <p>This project is developed by <a id="developer" href="https://github.com/akorze" data-toggle="tooltip"
      data-placement="top" title="Once upon a time this guy was a pretty good developer :)">Alek Korzeniowski</a>.</p>
    <img src="{{ url_for('static', filename='img/alek.jpg') }}"
      alt="Alek" width="150">
  </div>
{% endblock%}

{% block scripts%}
  {{super()}}
  <script>
  $(document).ready(function () {
    $('#developer').tooltip()
  });
  </script>
{% endblock%}
